body {
    background-color: blue;
}

.clock{
    position : absolute;

    top : 50%;
    left : 50%;

    transform: translateX(-50%) translateY(-50%);

    color: white;

    font-size: 80px;
}

.top{

    padding-left: 25%;
    background-color: white;

    font-size: 75px;
}

.bottom
{

    margin-top : 500px;
    padding: 20%;
    background-color: white;
}